:root {
    --gummental: #495061;
    --warm-pink: #ff5274;
    --white: #ffffff;
    --slate-grey: #677074;
    --steel-gray: #7a8387;
    --steel-gray-two: rgba(122, 131, 135, 0.5);
    --charcoal-grey: #3d4351;
    --dark-slate-blue: rgba(28, 54, 83, 0.7);
    --cool-grey: #acb1b4;
    --very-light-blue: #e6e9ea;
}